.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 70px;
  text-align: center;
}
.input-form > label {
  height: 80px;
}

.input-data {
  margin: 0 10px;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 10px;
}

.button-box {
  display: flex;
  align-self: end;
}

.medal-input {
  display: flex;
  flex-direction: column;
  align-self: end;
  justify-content: end;
}

label {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}
