.medal-table {
  width: 90%;
  color: white;
  border-collapse: collapse;
  border-style: hidden;
  overflow: hidden;
  border-radius: 10px;
}

.table-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
